body{
    background-color: black;
    color: white;
}

#container {
    width: 400px;
    height: 400px;
    position: relative;
    background-color: darkred;
}
#animacao {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: darkslategray;
}